.cart_icon {
  width: 12pt;
}

.noOfItemsForm {
  width: 20pt;
}

.noOfItemsToRemove {
  width: 20pt;
}

body {
  width: 80%;
  margin: auto;
  padding: 0;
  font-family: Candara, Georgia, Serif;
}

a.imgLink {
  cursor: pointer;
}

header {
  padding-bottom: 1em;
}

header h1 {
  text-align: center;
}

button {
  margin-top: 0.2em;
  color: white;
  text-decoration: none;
  background-color: #101010;
  border: 3px solid #101010;
  border-radius: 3px;
}

button:hover {
  background-color: #303030;
  border: 3px solid #303030;
  transition-duration: 0.1s;
}

input {
  margin: 0.1em;
  background-color: #D0D0D0;
  border: 1px solid #D0D0D0;
  border-radius: 3px;
  transition-duration: 0.1s;
}

input:hover {
  background-color: #E0E0E0;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  transition-duration: 0.1s;
}

#banner {
  width: 60%;
  padding-left: 20%;
  padding-top: 3em;
}

#shoppingcart {
  background-color: #FF9F27;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
  margin: 0.4em;
  border: 3px solid #FF9F27;
  border-radius: 10px;
}

#shoppingcart input {
  margin-left: 2em;
  margin-right: 0.2em;
}

img.product_image {
  height: 150px;
  width: auto;
  padding: 0.5em;
  transition: 0.2s;
  border: 3px solid #101010;
  border-radius: 10px;
}

img.product_image:hover {
  border: 3px solid #303030;
  transform: scale(1.1);
  transition: 0.2s;
}

#products {
  margin: auto;
}

#products div.product {
  display: inline-flex;
  height: 18em;
  min-height: 18em;
  justify-content: center;
}

@media screen and (max-width: 1024px) and (min-width: 512px) {
  #products div.product {
    width: 47%;
  }
}

@media screen and (min-width: 1024px) {
  #products div.product {
    width: 22%;
  }
}

@media screen and (max-width: 512px) {
  #products div.product {
    width: 98%;
  }
}

#products div.product div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

#products div.product div p {
  text-align: center;
}

#products div.itemdescription {
  max-width: 50%;
  min-width: 50%;
  width: 50%;
  word-wrap: break-word;
  padding: 5px;
}

#products div.product {
  margin: 1% 1% 1% 1%;
}

@media screen and (min-width: 1024px) {
  #products div.product:nth-child(4n+1) {
    margin: 0 1% 1% 2%;
  }
  #products div.product:nth-child(4n) {
    margin: 1% 1% 1% 1%;
  }
}

div.footerspace {
  min-height: 7.5em;
  max-height: 7.5em;
}

footer {
  width: 100%;
  max-height: 7.5em;
  height: 7.5em;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

footer div.footerlogo {
  float: left;
  display: inline-block;
  position: relative;
  width: 7.5em;
  height: 95%;
  min-height: 100%;
  max-height: 100%;
  text-align: right;
  background-color: #FF9F27;
  padding-left: 1%;
}

footer div.footertext {
  float: right;
  display: inline-block;
  position: relative;
  width: 97%;
  width: calc(97% - 7.5em);
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  background-color: #FF9F27;
  padding-left: 2%;
}

footer img.teamlogo {
  height: 7.5em;
  width: auto;
  max-height: 100%;
  padding-top: 5px;
}

footer ul.teamlist {
  margin-top: -15px;
}
